/** index.html styles created by @codeLeaf **/

* {
    font-family: 'Lato', sans-serif;
}

.nav-link,
.brand {
    color: #696969;
    font-weight: bold;
    font-size: 16px;
}

.welcome {
    padding-top: 90px;
    padding-bottom: 150px;
    background-color: #e5e5e5;
    color: #696969;
}

.index--welcome {
    padding-top: 170px;
    padding-bottom: 220px;
    background-color: #e5e5e5;
    color: #696969;
}

.block-btn {
    background-color: #8a8585;
    display: block;
    width: 30%;
    border-radius: 5px;
}

.block-btn:hover {
    background-color: #7c7878;
    text-decoration: none;
}

.block-btn:active {
    border: 0;
}

.bg {
    background-image: url('../download.png');
}


/** login.html styles created by @codeLeaf **/

.btn-white {
    background-color: #fff;
    color: #161616;
    border-radius: 5px;
}

.button:hover {
    text-decoration: none;
}

.form--control {
    width: 100%;
    background-color: #eeeeee;
    color: #161616;
    border: 0;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
}

.form--control:focus {
    border: 1px solid #b3b1b1;
}

.navbar-collapse {
    display: block;
}

@media screen and (max-width: 767.98px) {
    .bg {
        display: none;
    }
    .index--welcome {
        padding-top: 100px;
        padding-bottom: 150px;
        background-color: #e5e5e5;
        color: #696969;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 55%;
        height: 100%;
        background-color: #dcdde1;
        z-index: 2000;
        display: none;
    }
    .navbar-collapse.collapsing {
        height: 100%;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}